/* --- Dialog Title --- */
.legacy-title {
  font-size: 20px;
  font-weight: 600;
  padding: 12px 16px;
  margin: 0 0 8px 0;
  border-bottom: 1px solid #ccc;
}

/* --- Dialog Content --- */
.legacy-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px 16px;
  min-width: 550px;
  max-height: 70vh;
  overflow-y: auto;
}

/* --- Tabs --- */
.legacy-tabs .mat-tab-label {
  font-weight: 500;
  padding: 6px 12px;
}

.legacy-tabs .mat-tab-label-active {
  font-weight: 600;
}

/******************************************************
 ✅  TABLE LAYOUT STYLING (Add + View)
*******************************************************/

.attr-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 6px;
}

.attr-table th {
  background: #47484a;
  color: white;
  padding: 12px;
  font-size: 13px;
  text-align: center;
}

.attr-table td {
  padding: 2px;
  text-align: center;
  border-bottom: 1px solid #464343;
}

/* Inputs inside table */
.entry-input {
  width: 90%;
  padding: 6px;
  border: 1px solid #4f5052;

  border-radius: 4px;
  font-size: 13px;
}

/* Delete button inside table */
.delete-btn {
  font-size: 18px;
  cursor: pointer;
  color: red;
  border: none;
  background: transparent;
  padding: 2px 6px;
}

.action-col {
  width: 15px;
}

/******************************************************
 ✅ ADD ROW BUTTON - white circle + icon
*******************************************************/

.add-circle-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #27518f;
  background: white;
  color: #27518f;
  font-size: 22px;
  cursor: pointer;
}

.add-circle-btn:hover {
  background: #27518f;
  color: white;
}

/******************************************************
 ✅ VIEW SECTION
*******************************************************/

.view-section {
  display: flex;
  flex-direction: column;
  padding-top: 3px;
}

/******************************************************
 ✅  EDIT MODE FIELD
*******************************************************/

.edit-input {
  width: 90%;
  padding: 6px;
  border: 1px solid   #4f5052;
;
  border-radius: 4px;
}

.attr-edit-actions {
  display: flex;
  gap: 3px;
}

.empty-text {
  font-style: italic;
  text-align: center;
  padding: 5px;
  color: #777;
}

/******************************************************
 ✅ FOOTER BUTTONS
*******************************************************/

.legacy-actions {
  padding: 6px 12px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.legacy-actions button {
  min-width: 40px;
}
