<form>
  <div style="width: 250px; position: relative; padding-bottom: 40px">
    <h1 mat-dialog-title style="display:inline-block; margin-bottom: 14px !important;">
      {{'dlg.login-title' | translate}}
    </h1>

    <div mat-dialog-content>
      <!-- Username -->
      <mat-form-field appearance="outline" style="width:100%; margin-bottom: 10px;">
        <mat-label>{{'general.username' | translate}}</mat-label>
        <input matInput cdkFocusInitial
               autocomplete="off"
               type="text"
               [formControl]="username"
               (focus)="onFocus($event)">
        <mat-error *ngIf="errorEnabled && username.errors?.required">
          {{'msg.login-username-required' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" style="width:100%; margin-bottom: 10px;">
        <mat-label>{{'general.password' | translate}}</mat-label>
        <input matInput
               autocomplete="off"
               [type]="showPassword ? 'text' : 'password'"
               [formControl]="password"
               (keydown)="keyDownStopPropagation($event)"
               (focus)="onFocus($event)">
        <button mat-icon-button matSuffix type="button"
                (click)="showPassword = !showPassword">
          <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="errorEnabled && password.errors?.required">
          {{'msg.login-password-required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Error Message -->
    <div *ngIf="messageError" class="message-error">
      {{messageError}}
    </div>

    <!-- Spinner -->
    <div *ngIf="submitLoading">
      <mat-spinner style="margin: auto" diameter="20"></mat-spinner>
    </div>

    <!-- Actions -->
    <div mat-dialog-actions class="dialog-action">
      <button mat-raised-button [disabled]="disableCancel" [mat-dialog-close]="">
        {{'dlg.cancel' | translate}}
      </button>
      <button mat-raised-button color="primary"
              (click)="onOkClick()"
              [disabled]="!isValidate()"
              cdkFocusInitial>
        {{'dlg.ok' | translate}}
      </button>
    </div>
  </div>
</form>

<!-- Hidden Touch Keyboard Trigger -->
<input type="text"
       ngxTouchKeyboard
       #touchKeyboard="ngxTouchKeyboard"
       (focus)="touchKeyboard.openPanel()"
       style="display: none;"/>
